<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GarageControl</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">🛠️ GarageControl</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="vehiculeDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            🚗 Véhicules
          </a>
          <ul class="dropdown-menu" aria-labelledby="vehiculeDrop">
            <li><a class="dropdown-item" href="{% url 'liste_vehicules' %}">Liste des véhicules</a></li>
            <li><a class="dropdown-item" href="{% url 'ajouter_vehicule' %}">Ajouter un véhicule</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="reparDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            🔧 Réparations
          </a>
          <ul class="dropdown-menu" aria-labelledby="reparDrop">
            <li><a class="dropdown-item" href="{% url 'liste_reparations' %}">Liste des interventions</a></li>
            <li><a class="dropdown-item" href="{% url 'ajouter_reparation' %}">Nouvelle réparation</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'planning_ponts' %}">Planning des ponts</a></li>
          </ul>
        </li>
        {% if user.is_superuser %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="configDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ⚙️ Configuration
          </a>
        
          <ul class="dropdown-menu" aria-labelledby="configDrop">
            <li><a class="dropdown-item" href="{% url 'liste_types_panne' %}">Types de pannes</a></li>
            <li><a class="dropdown-item" href="{% url 'ajouter_type_panne' %}">Ajouter une catégorie</a></li>
          </ul>
          
        </li>
        {% endif %}
      </ul>
      <form method="get"  action ="{% url 'liste_reparations' %}" class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Immatriculation..." aria-label="Search" name="q" value ={{request.GET.q}}>
        <input class="form-control me-2" type="number" placeholder="Prix minimum..." aria-label="Search" name="prix_min" value ={{request.GET.prix_min}}>
        <button class="btn btn-outline-success" type="submit">Rechercher</button>
      </form>
      {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post" class="ms-2">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">
                <i class="bi bi-box-arrow-right"></i> Déconnexion ({{ user.username }})
            </button>
        </form>
    {% endif %}
    </div>
  </div>
</nav>

<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>